<!doctype html>
<html>
  <head>
    <%= partial 'partial/_metatags.erb' %>
    <title>Libre <%= current_page.data.title ? "- #{current_page.data.title}" : "Save" %></title>
    <link rel=icon href="/favicon.ico" type="image/x-icon"/>

    <link href='//fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag "application.bundle" %>
  </head>

  <body class="<%= page_classes %>" data-controller="<%= current_page.data.controller %>">
    <%= partial 'partial/_noscript.erb' %>


    <!-- navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            <img src="/assets/images/logo.png" alt="" height="32px">
          </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <%= partial 'partial/_menu_links.erb' %>
        </div><!--/.nav-collapse -->
      </div>
    </nav>


    <header class="header-internal">
      <div class="container">
        <div class="intro-text hide">
          <div class="intro-lead-in">Photo booth sriracha art party meggings VHS!</div>
          <div class="intro-heading">Dreamcatcher hoodie echo park shoreditch chartreuse</div>
          <a href="#services" class="page-scroll btn btn-xl">Veja mais</a>
        </div>
      </div>
    </header>


    <%= yield %>



    <!-- footer section -->
    <%= partial 'partial/footer.erb' %>


    <!-- the javascripts -->
    <%= javascript_include_tag "vendor.bundle" %>
    <%= javascript_include_tag "application.bundle" %>
		<script id="js-entry">require('application')</script>

    <% if build? %>
      <script src="https://cdn.ravenjs.com/3.14.2/raven.min.js" crossorigin="anonymous"></script>
      <script id="sentry-config" type="text/javascript">
        Raven.config('https://6fb4281a87474f388d1e68e090aac108@sentry.io/159417').install()
      </script>
    <% end %>

    <%= partial 'partial/_ga.erb' %>
    <%= partial 'partial/_browser-update.erb' %>

  </body>
</html>
