<!doctype html>
<html>
  <head>
    <%= partial 'partial/_metatags.erb' %>
    <title>Libre <%= current_page.data.title ? "- #{current_page.data.title}" : "Save" %></title>

    <link href='//fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css' crossorigin="anonymous">
    <%= stylesheet_link_tag "application.bundle" %>
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  </head>

	<body class="<%= page_classes %>" <%= page_controller 'attr' %> <%= page_module 'attr' %> >

    <%= partial 'partial/_noscript.erb' %>


		<%# unless ['app', 'dash'].include? current_page.data.module %>
      <section id="navbar">
        <div class="container">
          <%= partial 'partial/_navbar.erb' %>
        </div>
      </section>

			<header class="header-internal">
      </header>
		<%# end %>


    <%= yield %>



    <!-- footer section -->
    <%= partial 'partial/footer.erb' %>


		<% if ['app', 'dash'].include? current_page.data.module %>
			<!-- page loading (only for modules/webapps) -->
			<%= partial 'partial/_loading.erb' %>
		<% end %>

    <!-- the javascripts -->
    <%# javascript_include_tag "vendor.bundle", async: true %>
    <%= javascript_include_tag "application.bundle", id: 'js-app' %>

		<% if ['app', 'dash'].include? current_page.data.module %>
			<!-- code prettyprint -->
			<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js?autorun=false&skin=desert&lang=html" assync></script>
		<% end %>




    <%= partial 'partial/_ga.erb' %>
    <%= partial 'partial/_browser-update.erb' %>

  </body>
</html>
