<!doctype html>
<html>
  <head>
    <%= partial 'partial/_metatags' %>
    <title>Libre <%= current_page.data.title ? "- #{current_page.data.title}" : "Save" %></title>
    <link rel=icon href="/favicon.ico" type="image/x-icon"/>

    <link href='//fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag :application %>

    <!-- the javascripts -->
    <%= javascript_include_tag :vendor %>
    <%= javascript_include_tag :application %>
  </head>

  <body class="<%= page_classes %>" data-controller="<%= current_page.data.controller %>" data-action="<%= current_page.data.action %>">
    <%= partial 'partial/_noscript.erb' %>


    <!-- navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">
            <img src="/images/logo.png" alt="" height="32px">
          </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <!-- top navbar menu -->
            <% data.links.list.each do |l| %>
              <% if l.label == 'Login' %>
                <li>
                  <% link_to l.url, title: l.label do %>
                    <div class="login-button"><%= l.label.upcase %>&nbsp;<img src="/images/login-arrow.png" height="16px"></div>
                  <% end %>
                </li>
              <% else %>
                <li><% link_to l.url, title: l.label do %><%= l.label %><% end %></li>
              <% end %>
            <% end %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>


    <header class="internal-header">
      <div class="container">
        <div class="intro-text hide">
          <div class="intro-lead-in">Photo booth sriracha art party meggings VHS!</div>
          <div class="intro-heading">Dreamcatcher hoodie echo park shoreditch chartreuse</div>
          <a href="#services" class="page-scroll btn btn-xl">Veja mais</a>
        </div>
      </div>
    </header>


    <%= yield %>



    <footer id="main-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <% data.footer.places.each do |p| %>
              <h4><strong><%= p.state%></strong></h4>
              <p><%= p.address %></p>
              <p><strong><%= p.phone %></strong></p>
            <% end %>
          </div>
          <div class="col-md-8 text-right">
            <form name="search_form" id="search_form" action="GET">
              <input type="text" name="search_by" id="search_by">&nbsp;
              <% data.footer.social.each do |s| %>
                <a href="<%= s.link %>" class="__social-button" target="_blank">
                  <%= image_tag s.image, title: s.label, alt: s.label %>
                </a>
              <% end %>
            </form>

          </div>
        </div>
      </div>
    </footer>


    <%= partial 'partial/_ga.erb' %>
    <%= partial 'partial/_browser-update.erb' %>

  </body>
</html>
