---
title:      Faça Parte - Cadastro de Colaborador
controller: join_us/collaborator
---

    <section id="main-content">
      <div class="container">
        <div class="row">

          <!-- page title -->
          <div class="col-md-12">
						<h1><%= data.collaborator.title %></h1>
          </div>

          <div class="col-md-12 section-content">

            <br>
            <br>
            <br>

            <div class="row 3col-content">
              <% data.collaborator.contents.each do |c| %>
                <div class="col-md-4">
                  <h3 class="text-muted"><%= c[:title] %></h3>
                  <p><%= c[:content] %></p>
                </div>
              <% end %>
            </div>

          </div>
        </div>
    </section>

    <section id="how-works-section">
      <div class="container">
        <div class="row">

          <!-- page title -->
          <div class="col-md-12">
            <h2><%= data.collaborator.how_to_works.title %></h2>
          </div>

          <div class="col-md-12 section-content">

            <div class="row 3col-features">
              <% data.collaborator.how_to_works.features.each do |f| %>
                <div class="col-md-4 text-center">
                  <p><%= image_tag f[:image], alt: '' %></p>
                  <h4><strong><%= f[:title] %></strong></h4>
                </div>
              <% end %>
            </div>

          </div>
        </div>
    </section>


    <section id="collaborator-section">
      <div class="section-header">
        <div class="container">
          <h2><%= data.collaborator.form.title %></h2>
        </div>
      </div>

      <% tabs = data.collaborator.form.tabs %>

      <div class="section-tabs">
        <div class="container">
          <!-- nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="js-navtab <%= tabs.activated == 'personal' ? 'active' : ''%>">
              <a href="#personal-pane" role="tab" data-toggle="tab"><%= tabs.personal.title.sub '1. ', '' %></a>
            </li>
          </ul>
        </div>
      </div>


      <div class="form-container">
        <div class="container">

          <!-- form section -->
          <div class="js-tabcontainer tab-content">

						<!-- personal data tab -->
						<% tab = tabs.personal %>
						<div id="personal-pane" role="tabpanel" class="js-tabpanes tab-pane <%= tabs.activated == 'personal' ? 'active' : ''%>" id="personal">
							<form name="personal_form" id="personal-form" novalidate>
								<div class="row">
									<!-- personal tab form -->
									<div class="col-md-8">
										<div class="row">
											<div class="col-md-12">
												<p class="text-spaced"><%= tab.subtitle %></p>
												<h4 class="text-green"><%= tab.section.access_data.title %></h4>
											</div>

											<% fields = tab.section.access_data.fields %>
											<div class="form-group col-md-6">
												<%= custom_input fields[:email] %>
												<%= custom_helpblock fields[:email] %>
											</div>
											<div class="form-group col-md-6">
												<%= custom_input fields[:password] %>
												<%= custom_helpblock fields[:password] %>
											</div>


											<div class="col-md-12">
												<br class="text-spaced">
												<h4 class="text-green"><%= tab.section.general_data.title %></h4>
											</div>

											<% fields = tab.section.general_data.fields %>
											<div class="form-group col-md-6">
												<%= custom_input fields[:name] %>
												<%= custom_helpblock fields[:name] %>
											</div>
											<div class="form-group col-md-6">
												<%= custom_input fields[:surname] %>
												<%= custom_helpblock fields[:surname] %>
											</div>

											<div class="form-group col-md-6">
												<%= custom_input fields[:phone] %>
												<%= custom_helpblock fields[:phone] %>
											</div>

											<div class="col-md-12"></div>

											<div class="form-group col-md-12">
												<p><%= btn = tab.buttons.next; input_tag :submit, value: 'Cadastrar', class: btn.classes %></p>
												<br>

											</div>

										</div>
									</div>

									<!-- personal tab help -->
									<div class="col-md-offset-1 col-md-3">
										<h4 class="text-spaced text-green">Ajuda</h4>
										<p><%= tab.help %></p>
									</div>
								</div>
							</form>
						</div>

          </div>

        </div>
      </div>
    </section>

