---
title:      Faça Parte - Cadastro de Colaborador
controller: join_us/collaborator
---


    <section id="main-content">
      <div class="container">
        <div class="row">

          <!-- page title -->
          <div class="col-md-12">
            <h1><%= data.collaborator.title %></h1>
          </div>

          <div class="col-md-12 section-content">

            <br>
            <br>
            <br>

            <div class="row 3col-content">
              <% data.collaborator.contents.each do |c| %>
                <div class="col-md-4">
                  <h3 class="text-muted"><%= c[:title] %></h3>
                  <p><%= c[:content] %></p>
                </div>
              <% end %>
            </div>

          </div>
        </div>
    </section>

    <section id="how-works-section">
      <div class="container">
        <div class="row">

          <!-- page title -->
          <div class="col-md-12">
            <h2><%= data.collaborator.how_to_works.title %></h2>
          </div>

          <div class="col-md-12 section-content">

            <div class="row 3col-features">
              <% data.collaborator.how_to_works.features.each do |f| %>
                <div class="col-md-4 text-center">
                  <p><%= image_tag f[:image], alt: '' %></p>
                  <h4><strong><%= f[:title] %></strong></h4>
                </div>
              <% end %>
            </div>

          </div>
        </div>
    </section>


    <section id="collaborator-section">
      <div class="section-header">
        <div class="container">
          <h2><%= data.collaborator.form.title %></h2>
        </div>
      </div>

      <% tabs = data.collaborator.form.tabs %>

      <div class="section-tabs">
        <div class="container">
          <!-- nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class=" <%= tabs.activated == 'personal' ? 'active' : ''%>">
              <a href="#personal" role="tab" data-toggle="tab"><%= tabs.personal.title %></a>
            </li>
            <li role="presentation" class=" <%= tabs.activated == 'plan' ? 'active' : ''%>">
              <a href="#plan" role="tab" data-toggle="tab"><%= tabs.plan.title %></a>
            </li>
            <li role="presentation" class=" <%= tabs.activated == 'billing' ? 'active' : ''%>">
              <a href="#billing" role="tab" data-toggle="tab"><%= tabs.billing.title %></a>
            </li>
          </ul>
        </div>
      </div>


      <div class="form-container">
        <div class="container">

          <!-- form section -->
          <div class="tab-content">

            <!-- personal data tab -->
            <div role="tabpanel" class="tab-pane <%= tabs.activated == 'personal' ? 'active' : ''%>" id="personal">
              <div class="row">
                <!-- personal tab form -->
                <div class="col-md-8">
                  <div class="row">
                    <div class="col-md-12">
                      <p class="text-spaced"><%= tabs.personal.subtitle %></p>
                      <h4 class="text-green"><%= tabs.personal.section.access_data.title %></h4>
                    </div>

                    <div class="form-group col-md-6">
                      <input type="text" placeholder="E-mail" class="form-control">
                    </div>
                    <div class="form-group col-md-6">
                      <input type="text" placeholder="Senha" class="form-control">
                    </div>


                    <div class="col-md-12">
                      <br class="text-spaced">
                      <h4 class="text-green"><%= tabs.personal.section.general_data.title %></h4>
                    </div>

                    <div class="form-group col-md-6">
                      <input type="text" placeholder="Nome" class="form-control">
                    </div>
                    <div class="form-group col-md-6">
                      <input type="text" placeholder="Sobrenome" class="form-control">
                    </div>

                    <div class="form-group col-md-6">
                      <input type="text" placeholder="Telefone" class="form-control">
                    </div>

                    <div class="col-md-12"></div>

                    <div class="col-md-6">
                      <a class="btn btn-green btn-block" href="#">
                        <%= tabs.personal.next_button.label %>
                      </a>
                    </div>

                  </div>
                </div>

                <!-- personal tab help -->
                <div class="col-md-offset-1 col-md-3">
                  <h4 class="text-spaced text-green">Ajuda</h4>
                  <p><%= tabs.personal.help %></p>
                </div>
              </div>
            </div>


            <!-- plan data tab -->
            <div role="tabpanel" class="tab-pane <%= tabs.activated == 'plan' ? 'active' : ''%>" id="plan">
              <div class="row">
                <!-- personal tab form -->
                <div class="col-md-8">
                  <div class="row">
                    <div class="col-md-12">
                      <p class="text-spaced"><%= tabs.plan.subtitle %></p>
                    </div>

                    <!-- plan  list -->
                    <% tabs.plan.form.fields.each do |f| %>
                      <div class="form-group col-md-6">
                        <% if f[:type] == 'radio' %>
                          <div class="radio">
                            <label>
                              <%= input_tag f[:type], name: f[:name], value: f[:value], class: f[:classes], required: f[:required] %>&nbsp;<%= f[:label] %>
                            </label>
                          </div>
                        <% end %>
                      </div>
                    <% end %>

                    <div class="col-md-12"></div>

                    <div class="col-md-6">
                      <a class="btn btn-green btn-block" href="#">
                        <%= tabs.plan.next_button.label %>
                      </a>
                    </div>

                  </div>
                </div>

                <!-- plan tab help -->
                <div class="col-md-offset-1 col-md-3">
                  <h4 class="text-spaced text-green">Ajuda</h4>
                  <p><%= tabs.plan.help %></p>
                </div>
              </div>
            </div>


            <!-- billing data tab -->
            <div role="tabpanel" class="tab-pane <%= tabs.activated == 'billing' ? 'active' : ''%>" id="billing">
              <div class="row">
                <!-- billing tab form -->
                <div class="col-md-8">
                  <div class="row">
                    <div class="col-md-12">
                      <p class="text-spaced"><%= tabs.billing.subtitle %></p>
                      <h4 class="text-green"><%= tabs.billing.section.card_data.title %></h4>
                    </div>

                    <% tabs.billing.section.card_data.fields.each do |f| %>
                      <% if f[:type] == 'link' %>
                        <% content_tag :div, class: f[:container_class] do %>
                          <% content_tag :a, id: f[:id], class: f[:classes] do %>
                            <%= f[:value] %>
                          <% end %>
                        <% end %>
                      <% else %>
                        <% content_tag :div, class: f[:container_class] do %>
                          <%= input_tag f[:type], id: f[:name], name: f[:name], class: f[:classes], required: f[:required], placeholder: f[:label] %>
                        <% end %>
                      <% end %>
                    <% end %>


                    <div class="col-md-12">
                      <br>
                      <br>

                      <h4 class="text-green"><%= tabs.billing.section.card_data.title %></h4>
                    </div>

                    <% tabs.billing.section.address_data.fields.each do |f| %>
                      <% if f[:type] == 'link' %>
                        <% content_tag :div, class: f[:container_class] do %>
                          <% link_to f[:path], id: f[:id] || '', class: f[:classes] || '', target: f[:target] || '_self' do %>
                            <%= f[:label] %>
                          <% end %>
                        <% end %>
                      <% else %>
                        <% content_tag :div, class: f[:container_class] do %>
                          <%= input_tag f[:type], id: f[:name], name: f[:name], class: f[:classes], required: f[:required], placeholder: f[:label] %>
                        <% end %>
                      <% end %>
                    <% end %>


                    <div class="col-md-12"></div>

                    <div class="col-md-6">
                      <a class="btn btn-green btn-block" href="#">
                        <%= tabs.billing.next_button.label %>
                      </a>
                    </div>

                  </div>
                </div>

                <!-- personal tab help -->
                <div class="col-md-offset-1 col-md-3">
                  <h4 class="text-spaced text-green">Ajuda</h4>
                  <p><%= tabs.billing.help %></p>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </section>

