---
title:      Faça Parte - Cadastro de Jornalista
controller: Home
action:     Jornalista
---


    <section id="main-content">
      <div class="container">
        <div class="row">

          <!-- page title -->
          <div class="col-md-12">
            <h1><%= data.journalist.title %></h1>
          </div>

          <div class="col-md-8 section-content">

            <div class="row">
              <div class="col-md-6">
                <% btn = data.journalist.buttons[0] %>
                <p>
                  <% content_tag :button, class: btn[:classes] do %>
                    <%= btn[:label] %>
                  <% end %>
                </p>

                <p><strong>Benefícios:</strong></p>
                <ul class="clean-list">
                  <% btn.benefits.each do |b| %>
                    <li><%= b %></li>
                  <% end %>
                </ul>
              </div>

              <div class="col-md-6">
                <% btn = data.journalist.buttons[1] %>
                <p>
                  <% content_tag :button, class: btn[:classes] do %>
                    <%= btn[:label] %>
                  <% end %>
                </p>

                <p><strong>Benefícios:</strong></p>
                <ul class="clean-list">
                  <% btn.benefits.each do |b| %>
                    <li><%= b %></li>
                  <% end %>
                </ul>

              </div>
            </div>

          </div>
          <div class="col-md-4">
            <h4 class="text-green">Ajuda</h4>
            <%= data.journalist.help %>
          </div>
        </div>
    </section>

    <hr>


    <section id="form_section">
      <div class="container">
        <div class="row">
          <!-- form section -->
          <div class="col-md-8 section-content">

            <!-- login data -->
            <h3 class="text-green">
              <%= data.journalist.subtitle[:access_data] %>
            </h3>
            <div class="row">
              <div class="col-md-12">
                <p>Os dados abaixos serão usados para acesso à plataforma.</p>
              </div>
              <div class="col-md-6 form-group has-error">
                <label for="email" class="sr-only">E-mail de acesso</label>
                <%= text_field_tag :email, class: 'form-control', placeholder: 'E-mail*' %>
                <small class="help-block">Entre com um e-mail válido para criar sua conta e acessar a plataforma</small>
              </div>
              <div class="col-md-6 form-group">
                <label for="email" class="sr-only">Senha</label>
                <%= password_field_tag :email, class: 'form-control', placeholder: 'Senha*' %>
                <small class="help-block">Escolha uma senha de no mínimo 6 caractéres</small>
              </div>
            </div>

            <br>


            <!-- general data -->
            <h3 class="text-green">
              <%= data.journalist.subtitle[:general_data] %>
            </h3>
            <div class="row">
              <div class="col-md-6 form-group">
                <label for="name" class="sr-only">Nome</label>
                <%= text_field_tag :name, class: 'form-control', placeholder: 'Nome*' %>
              </div>
              <div class="col-md-6 form-group">
                <label for="surename" class="sr-only">Sobrenome</label>
                <%= text_field_tag :surname, class: 'form-control', placeholder: 'Sobrenome*' %>
              </div>
              <div class="col-md-6 form-group">
                <label for="phone" class="sr-only">Telefone</label>
                <%= text_field_tag :phone, class: 'form-control', placeholder: 'Telefone*' %>
                <small class="help-block">Digíte somente números seguindo o formato: <code>11 12345678</code></small>
              </div>
              <div class="col-md-6 form-group">
                <label for="mobilephone" class="sr-only">Celular</label>
                <%= text_field_tag :mobilephone, class: 'form-control', placeholder: 'Celular' %>
                <small class="help-block">Digíte somente números seguindo o formato: <code>11 12345678</code></small>
              </div>
              <div class="col-md-6 form-group">
                <label for="rg" class="sr-only">RG</label>
                <%= text_field_tag :rg, class: 'form-control', placeholder: 'RG*' %>
                <small class="help-block">Digíte somente números do documento</small>
              </div>
              <div class="col-md-6 form-group">
                <label for="cpf" class="sr-only">CPF</label>
                <%= text_field_tag :cpf, class: 'form-control', placeholder: 'CPF*' %>
                <small class="help-block">Digíte somente números do documento</small>
              </div>

              <!-- space -->
              <div class="col-md-12 form-group">
                <br>
              </div>



              <div class="col-md-6 form-group">
                <label for="rg" class="sr-only">CEP</label>
                <%= text_field_tag :rg, class: 'form-control', placeholder: 'CEP* (12345-678)' %>
              </div>
              <div class="col-md-6 form-group">
                <a href="#" target="_blank"><strong>Clique aqui</strong> para persquisar seu CEP caso não saiba.</a>
              </div>
              <div class="col-md-12 form-group">
                <label for="address_street" class="sr-only">Endereço</label>
                <%= text_field_tag :address_street, class: 'form-control', placeholder: 'Endereço*', disabled: true %>
              </div>
              <div class="col-md-6 form-group">
                <label for="address_number" class="sr-only">Número</label>
                <%= text_field_tag :address_number, class: 'form-control', placeholder: 'Número*', disabled: true %>
              </div>
              <div class="col-md-6 form-group">
                <label for="address_complement" class="sr-only">Complemento</label>
                <%= text_field_tag :address_complement, class: 'form-control', placeholder: 'Complemento', disabled: true %>
              </div>
              <div class="col-md-6 form-group">
                <label for="address_state" class="sr-only">Estado</label>
                <%= select_tag :address_state, class: 'form-control', disabled: true, options: ['Estado*']  %>
              </div>
              <div class="col-md-6 form-group">
                <label for="address_city" class="sr-only">Cidade</label>
                <%= text_field_tag :address_city, class: 'form-control', placeholder: 'Cidade*', disabled: true %>
              </div>
            </div>

            <br>


            <!-- banking data -->
            <h3 class="text-green">
              <%= data.journalist.subtitle[:banking_data] %>
            </h3>
            <div class="row">
              <div class="col-md-12">
                <p>Os dados abáixo são referentes a sua conta bancária para receber seus <strong class="text-green">libres</strong>.</p>
              </div>
              <div class="col-md-12 form-group">
                <label for="bank_name" class="sr-only">Banco</label>
                <%= select_tag :bank_name, class: 'form-control', options: ['Banco*']  %>
              </div>
              <div class="col-md-6">
                <label for="bank_agency" class="sr-only">Agência</label>
                <%= text_field_tag :bank_agency, class: 'form-control', placeholder: 'Agência*' %>
                <small class="help-block">Entre com o número separando o dígito com um ífem. Ex.: <code>12345-0</code></small>
              </div>
              <div class="col-md-6">
                <label for="bank_account" class="sr-only">Conta</label>
                <%= password_field_tag :bank_account, class: 'form-control', placeholder: 'Conta*' %>
                <small class="help-block">Entre com o número separando o dígito com um ífem. Ex.: <code>12345-0</code></small>
              </div>
            </div>

            <br>


            <div class="row">
              <div class="col-md-12">
                <div id="message" class="alert alert-danger">
                  <h4>Os seguintes problemas foram encontrados ao enviar formulário:</h4>
                  <ul class="clean-list">
                    <li>Campo 'Nome' é obrigatório.</li>
                    <li>Campo 'Nome' é obrigatório.</li>
                    <li>Campo 'Nome' é obrigatório.</li>
                    <li>Campo 'Nome' é obrigatório.</li>
                    <li>Campo 'Nome' é obrigatório.</li>
                  </ul>
                </div>
                <button class="btn btn-lbr--default">Cadastrar</button>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>

