---
title:      Login de Usuário
controller: account/signin
---

<% page = data.pages.account %>

    <section id="main-content">
      <div class="container">
        <div class="row">

          <!-- page title -->
          <div class="col-md-12">
            <h1><%= page.title %></h1>
          </div>

					<!-- user register -->
					<% section = page.section[:register] %>
          <div class="col-md-6 section-content">
						<h3><%= section.title %></h3>
            <p><%= section.subtitle %></p>

						<% section.list.each do |name, item| %>
							<p><%= item.description %></p>
							<p>
								<% link_to item.button.path, class: 'btn btn-success btn-lg btn-block' do %>
									<%= item.button.label %>
								<% end %>
							</p>
							<br>
						<% end %>
          </div>

          <!-- user signin -->
					<% section = page.section[:login] %>
          <div class="col-md-offset-1 col-md-5 section-content">
            <h3><%= section.title %></h3>
            <p><%= section.subtitle %></p>

						<% form_tag "#", name: "login_form",  id: "login-form", class: "login-form", novalidate: true, data: {} do # { remote: true, type: 'json' } do %>
							<% section.form.fields.each do |name, f| %>

								<div class="<%= f[:type] == 'radio' || f[:type] == 'checkbox' ? f[:type] : 'form-group' %>">

                  <% if ['string', 'text', 'select'].include? f[:type]  %>
                    <% content_tag :label, for: f[:name], class: 'sr-only' do %><%= f[:label]%><% end %>
                  <% end %>

                  <% if f[:type] == 'string' %>
                    <%= text_field_tag f[:name], id: f[:name], class: f[:classes] || '', required: f[:required], placeholder: f[:placeholder] || f[:label]  %>

                  <% elsif f[:type] == 'email' or f[:type] == 'password' %>
                    <%= tag :input, type: f[:type], name: f[:name], id: f[:name], class: f[:classes] || '', required: f[:required], placeholder: f[:placeholder] || f[:label]  %>

                  <% elsif f[:type] == 'text' %>
                    <%= text_area_tag f[:name], id: f[:name], class: f[:classes], required: f[:required], placeholder: f[:placeholder] || f[:label] %>

                  <% elsif f[:type] == 'select' %>
                    <%= select_tag f[:name], id: f[:name], class: f[:classes], required: f[:required], options: f[:options].map {|o| [o[:label], o[:value]] }, selected: '0'  %>

                  <% elsif f[:type] == 'checkbox' or f[:type] == 'radio' %>
										<% content_tag :label do %>
											<%= tag :input, type: f[:type], id: f[:name], class: f[:classes] || '', required: f[:required]  %> <%= f[:label] %>
										<% end %>

                  <% elsif 'submit' == f[:type] or 'button' == f[:type] %>
										<%= tag :input, type: f[:type], name: f[:id], value: f[:label], id: f[:name], class: f[:classes], data: {} %>
										<% #{'disable-with': 'Validando dados...'} %>

                  <% elsif 'link' == f[:type] %>
										<%= link_to f[:label], f[:path] || '#', id: f[:name], class: f[:classes], data: f[:data] || {} %>

									<% end %>

									<% if f[:help] %>
										<small class="help-block"><%= f[:help] %></small>
									<% end %>

                </div>

							<% end %>
						<% end %>
          </div>

        </div>
    </section>


