
    <footer id="main-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <% data.shared.places.each do |p| %>
              <h4><strong><%= p.state%></strong></h4>
              <p><%= p.address %></p>
              <p><strong><%= p.phone %></strong></p>
            <% end %>
          </div>
          <div class="col-md-8 text-right">
            <form name="search_form" id="search_form" action="GET">
              <input type="text" name="search_by" id="search_by">&nbsp;
              <% data.shared.social.each do |s| %>
                <a href="<%= s.link %>" class="__social-button" target="_blank">
                  <%= image_tag s.image, title: s.label, alt: s.label %>
                </a>
              <% end %>
            </form>

          </div>
        </div>
      </div>
    </footer>
