
    <footer id="main-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <% data.shared.places.each do |p| %>
              <h4><strong><%= p.name %></strong></h4>
              <p><%= p.address %></p>
              <p><strong><%= p.phone %></strong></p>
            <% end %>
          </div>
          <div class="col-md-8 text-right">
            <!-- form name="search_form" id="search_form" action="GET">
              <input type="text" name="search_by" id="search_by">&nbsp;
              <% data.shared.social.each do |s| %>
                <a href="<%= s.link %>" class="__social-button" target="_blank">
                  <%= image_tag s.image, title: s.label, alt: s.label %>
                </a>
              <% end %>
            </form -->

          </div>
				</div>

				<br>
				<br>
				<br>

				<div class="row">
					<div class="col-md-12 section-content text-center">
						<p>
							<a href="#" class="" style="color:#ffffff;text-decoration:none" title="Siga-nos no Facebook">
								<span class="fa-stack fa-lg">
									<i class="fa fa-circle fa-stack-2x"></i>
									<i class="fa fa-facebook fa-stack-1x text-green"></i>
								</span>
							</a>
							<a href="#" class="" style="color:#ffffff;text-decoration:none" title="Siga-nos no Twitter">
								<span class="fa-stack fa-lg">
									<i class="fa fa-circle fa-stack-2x"></i>
									<i class="fa fa-twitter fa-stack-1x text-green"></i>
								</span>
							</a>
							<a href="#" class="" style="color:#ffffff;text-decoration:none" title="Código fonte no GitHub">
								<span class="fa-stack fa-lg">
									<i class="fa fa-circle fa-stack-2x"></i>
									<i class="fa fa-github-alt fa-stack-1x text-green"></i>
								</span>
							</a>
						</p>
						<p><small>O <strong>LIBRE</strong> é uma plataforma aberta e baseada em software livre e esta disponibilizada no <a href="https://github.com/eokoe/libre-api" target="_blank" style="color:#333;text-decoration:underline;">GitHub</a>.</small><br>
						<small>Este projeto é distribuido sob a licença <a href="https://www.gnu.org/licenses/agpl-3.0.en.html" target="_blank" style="color:#333;text-decoration:underline;">Affero General Public License</a>.</small></p>
					</div>
				</div>
      </div>
    </footer>
