---
title:      Início
controller: home
---

<% page = data.pages.home %>

    <!-- navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            <img src="/assets/images/logo.png" alt="" height="32px">
          </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <%= partial 'partial/_menu_links.erb' %>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <header class="header-index">
      <div class="container">
        <div class="intro-text hide">
          <div class="intro-lead-in">Photo booth sriracha art party meggings VHS!</div>
          <div class="intro-heading">Dreamcatcher hoodie echo park shoreditch chartreuse</div>
          <a href="#services" class="page-scroll btn btn-xl">Veja mais</a>
        </div>
      </div>
    </header>


    <section id="main-content">
      <div class="container">
        <div class="row">
          <div class="col-md-5 section-content">
            <%= page.content %>
          </div>
          <div class="col-md-offset-2 col-md-5">

            <h3 class="section-citation">
              <%= page.citation %>
            </h3>
            <br>
            <br>
            <span class="section-citation-name">
              <%= page.citation_name %>
            </span>

          </div>
        </div>
      </div>
    </section>


    <section id="main-divider"></section>


    <section id="main-partners">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 class="section-title">Quem Faz Parte</h2>
          </div>

          <% page.who_using.each do |p| %>
            <div class="col-md-3 text-center">
              <p>
                <% link_to p.path, target: '_blank' do %>
                  <%= image_tag p.image, title: p.label, alt: p.title, width: '90%' %>
                <% end %>
              </p>
            </div>
          <% end %>

        </div>
      </div>
    </section>

    <%= partial 'partial/_footer.erb'%>
